{% extends 'base.html.twig' %}

{#{% block title %}Hello HomepageController!{% endblock %}#}
{% block content %}




    <h1>Hello  ✅</h1>
    <i class="fas fa-plus-circle"></i>
    <p style="font-size:100px">&#9989;</p>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/marcin/Symfony/learning/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/marcin/Symfony/learning/templates/homepage/homepage.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>

{% endblock %}